@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script type="text/javascript" src="~/js/bundles/sample2.bundled.js"></script>
}

<div id="main">
    <div class="row">        
        <div data-panel="header"></div>
    </div>
    <br>
    <div class="row">
        <div data-panel="list"></div>
        <div data-panel="detail"></div>
    </div>
    <br>
    <div class="row">        
        <div data-panel="footer"></div>
    </div>
</div>